html,
body {
  height: 100%;
  margin: 0;
}

.app-root {
  min-height: 100dvh; /* dynamic viewport height */
}

/* Catch notch / status bar safely */
.safe {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

::ng-deep * {
  margin: 0;
  padding: 0;
}

.main-frame {
  margin: 0 auto;
  width: 360px;
  height: 512px;
}
